@model IEnumerable<CRUDSamuelGarcesEF.Models.Autor>

@{
    ViewData["Title"] = "Gestión de Autores";
}

<h3>Gestión de Autores</h3>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm"><i class="fi fi-rr-add"></i></a>
</p>
<table class="table table-striped" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th class="no-exportar">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                    <td class="no-print">
        <button class="btn btn-warning btn-sm" onclick="window.location.href='@Url.Action("Edit", new { id = item.IdAutor })'">
            <i class="fi fi-rr-pencil"></i>
        </button>
        <button class="btn btn-info btn-sm btn-details" data-id="@item.IdAutor" data-entity="Autores">
            <i class="fi fi-rr-info"></i>
        </button>
        <button class="btn btn-danger btn-sm" onclick="confirmDelete('@item.IdAutor', '@item.Nombre @item.Apellido', 'Autores')">
            <i class="fi fi-rr-trash"></i>
        </button>
    </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/js/crud-operations.js"> </script>
}